body {
	background-color: #FFF;
}

.deal {
	position: fixed;
	top: 100px;
	left: 400px;
}

.reset {
	position: fixed;
	top: 100px;
	left: 600px;
}

.deck {
	position: fixed;
	top: 50px;
	left: 50px;
	width: 100px;
	height: 150px;
}

.playermoneytext {
	position: fixed;
	top: 80px;
	left: 200px;
	height: 30px;
	width: 200px;
	border: 0.5px solid #DDD;
	text-align: right;
	vertical-align: bottom;
	line-height: 1.8;
	font-size: 100%;
}

.playermoney {
	position: fixed;
	top: 80px;
	left: 425px;
	height: 30px;
	width: 120px;
	border: 0.5px solid #DDD;
	text-align: right;
	font-size: 150%;
}

.playerbetamounttext {
	position: fixed;
	top: 150px;
	left: 200px;
	height: 30px;
	width: 200px;
	border: 0.5px solid #DDD;
	text-align: right;
	vertical-align: bottom;
	line-height: 1.8;
	font-size: 100%;
}

.playerbetamount {
	position: fixed;
	top: 150px;
	left: 425px;
	height: 30px;
	width: 120px;
	border: 0.5px solid #DDD;
	text-align: right;
	font-size: 100%;
}

.playerbetbutton {
	position: fixed;
	top: 150px;
	left: 600px;
	height: 30px;
	width: 300px;
	border: 0.5px solid #DDD;
	text-align: center;
	font-size: 120%;
}

.drawnCard {
	position: fixed;
	top: 50px;
	left: 200px;
	width: 100px;
	height: 150px;
}

.dealerheader {
	position: fixed;
	top: 250px;
	left: 50px;
	height: 150px;
	width: 150px;
}

.dealer {
	position: fixed;
	top: 250px;
	left: 250px;
	height: 150px;
	width: 100px;
}

.playerheader {
	position: fixed;
	top: 450px;
	left: 50px;
	height: 100px;
	width: 150px;
}



.player {
	position: fixed;
	top: 450px;
	left: 250px;
	height: 150px;
	width: 100px;
}

.player img, .dealer img {
	width: 100px;
}

.playerbuttons, div.playerbuttons {
	position: fixed;
	top: 750px;
	left: 50px;
	height: 50px;
}