body {
	background-color: #FFF;
}

.deal {
	position: fixed;
	top: 100px;
	left: 400px;
}

.reset {
	position: fixed;
	top: 100px;
	left: 600px;
}

.deck {
	position: fixed;
	top: 50px;
	left: 50px;
	width: 100px;
	height: 150px;
}

.drawnCard {
	position: fixed;
	top: 50px;
	left: 200px;
	width: 100px;
	height: 150px;
}

.dcard1 {
	position: fixed;
	top: 250px;
	left: 50px;
	width: 100px;
	height: 150px;
}

.dcard2 {
	position: fixed;
	top: 250px;
	left: 200px;
	width: 100px;
	height: 150px;
}

.dcard3 {
	position: fixed;
	top: 250px;
	left: 350px;
	width: 100px;
	height: 150px;
}

.dcard4 {
	position: fixed;
	top: 250px;
	left: 500px;
	width: 100px;
	height: 150px;
}

.dcard5 {
	position: fixed;
	top: 250px;
	left: 650px;
	width: 100px;
	height: 150px;
}

.pcard1 {
	position: fixed;
	top: 450px;
	left: 50px;
	width: 100px;
	height: 150px;
}

.pcard2 {
	position: fixed;
	top: 450px;
	left: 200px;
	width: 100px;
	height: 150px;
}

.pcard3 {
	position: fixed;
	top: 450px;
	left: 350px;
	width: 100px;
	height: 150px;
}

.pcard4 {
	position: fixed;
	top: 450px;
	left: 500px;
	width: 100px;
	height: 150px;
}

.pcard5 {
	position: fixed;
	top: 450px;
	left: 650px;
	width: 100px;
	height: 150px;
}

.dealer {
	position: fixed;
	top: 250px;
	left: 50px;
	height: 150px;
	width: 100px;
}

.player {
	position: fixed;
	top: 450px;
	left: 50px;
	height: 150px;
	width: 100px;
}

.player img, .dealer img {
	width: 100px;
}